{% extends 'navbar.html' %}
<!-- jobs/job_detail.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ job.title }} Details</title>
</head>
<body>
    <div class="container">
        <h1> job's details </h1>
        {% if flag %}
        <div class="alert alert-success" role="alert">
             Your Application Delivered Succesfully    
        </div>
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <th> title </th>
                    <th> description </th>
                    <th> category  </th>
                    <th> location </th>
                    <th> compony   </th>
                    <th> created_at   </th>
                    <th> min_salary   </th>
                    <th> max_salary   </th>
                    <th>  </th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>{{ jobs.title }}</td>
                        <td>{{ jobs.description }}</td>
                        <td>{{ jobs.category }}</td>
                        <td>{{ jobs.location }}</td>
                        <td>{{ jobs.employer }}</td>
                        <td>{{ jobs.created_at }}</td> 
                        <td>{{ jobs.min_salary }}</td>
                        <td>{{ jobs.max_salary }}</td>
                    </tr>
            </tbody>
        </table>
        <form action="" method="post">
            {% csrf_token %}
            
                <div class="row">
                    <div class="col-md-4 ">
                        <label for="email" class="form-label"> Email Address</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="col-md-4 ">
                        <label for="name" class="form-label">Name </label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="col-md-4 ">
                        <label for="phone_number" class="form-label">  phone number</label>
                        <input type="text" class="form-control" id="phone_number" name="phone_number" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="birth_day" class="form-label">Birth Day  </label>
                        <input type="date" class="form-control" id="birth_day" name="birth_day" required>
                    </div>
                    <div class="col-md-4">
                        <label for="Gender" class="form-label"> Gender </label>
                        <input type="text" class="form-control" id="Gender" name="Gender" required>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label for="marital_status" class="form-label"> Marital Sratus  </label>
                            <input type="text" class="form-control" id="marital_status" name="marital_status" required>
                        </div>
                        <div class="col-md-4">
                            <label for="residence" class="form-label"> Residence </label>
                            <input type="text" class="form-control" id="residence" name="residence" required>
                        </div>
                        <div class="col-md-4">
                            <label for="cv" class="form-label"> CV </label>
                            <input type="text" class="form-control" id="cv" name="cv" required>
                        </div>
                    
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-primary">Apply</button>
                    </div>
                </div>
            
        </form>
    </div>
</body>
</html>